@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logoImg {
  margin-right: 10px;
}

.title {
  font-family: 'Dongle', sans-serif;
  font-size: 50px;
}

.darkMode {
  flex: 1;
}

.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.logoutBtn {
  flex: 1;
  margin-right: 20px;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
}
